@use '../../node_modules/@eightshapes/esds-visual-style/src/esds-visual-style' as *;

$esds-local-nav-visible-at: 1118px;
$esds-site-nav-on-canvas-at: 1086px;

.esds-site-page-shell__body {
  position: relative;
}

.esds-site-component-layout-body {
  display: block;

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    display: flex;
  }
}

.esds-site-component-layout-body__content {
  flex: 1 1 100%;
  padding: 0 $esds-space-2-x 0 0;
}

.esds-site-component-layout-body__local-nav {
  display: none;
  flex: 0 0 150px;
  padding-top: 100px;

  @media screen and (min-width: $esds-local-nav-visible-at) {
    display: block;
  }
}
.esds-site-component-layout-body__local-nav-inner {
  position: fixed;
  z-index: 300;
}

.esds-site-component-layout-body__local-nav-inner--fixed {
  position: fixed;
  top: 100px;
  z-index: 300;
}

.esds-site-component-layout-body__tab {
  padding-top: $esds-space-1-x;
}

.esds-prose > s-slot > s-assigned-wrapper > p > code {
  @include esds-code-tag;
}
