@use '../../node_modules/@eightshapes/esds-visual-style/src/esds-visual-style' as *;

$esds-local-nav-visible-at: 1118px;

.esds-site-component-layout-body {
  display: flex;
}

.esds-site-component-layout-body__content {
  flex: 1 1 100%;
  padding: 0 $esds-space-2-x 0 0;
}

.esds-site-component-layout-body__local-nav {
  display: none;
  flex: 0 0 150px;
  padding-top: 100px;

  @media screen and (min-width: $esds-local-nav-visible-at) {
    display: block;
  }
}

.esds-site-component-layout-body__local-nav-inner--fixed {
  position: fixed;
  top: 100px;
  z-index: 300;
}

.esds-tabs__tablist {
  transform: translateY(-44px);
  transition: transform 0.5s;

  .esds-site-page-shell--fixed-header & {
    position: fixed;
    transform: translateY(-293px);
    z-index: 300;
  }
}
