@use '@eightshapes/esds-example-code-pair/dist/esds-example-code-pair.css';
@use '@eightshapes/esds-page-navigation/dist/esds-page-navigation.css';
@use '@eightshapes/esds-visual-style/src/esds-visual-style' as *;
@use 'shared' as *;
@use 'local-nav-layout';

$esds-site-nav-width: 250px;
$esds-site-nav-on-canvas-at: 1086px;
$esds-fixed-header-transition-timing: 0.5s;

html,
body {
  margin: 0;
  padding: 0;
}

.esds-site-page-shell {
  @include esds-box-sizing;
  font-family: $esds-font-family-sans-serif;
  min-height: 100vh;

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    display: flex;
  }
}

// SITE NAV
.esds-site-page-shell__nav {
  background-color: $esds-color-background-dark-primary;
  color: white;
  left: 0;
  position: fixed;
  top: 0;
  // flex: 0 0 $esds-site-nav-width;
  transform: translateX(-$esds-site-nav-width);
  width: $esds-site-nav-width;
  z-index: 100;

  .esds-site-page-shell--visible-nav & {
    transform: translateX(0);
  }

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    flex: 0 0 $esds-site-nav-width;
    position: static;
    transform: translateX(0);
  }
}

.esds-site-page-shell__nav-toggle {
  left: 100%;
  position: absolute;
  top: 0;

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    display: none;
  }
}

.esds-site-page-shell__nav-inner {
  height: 100vh;
  overflow-y: scroll;
  // position: fixed;
  width: $esds-site-nav-width;
}

// PAGE CONTENT
.esds-site-page-shell__content {
  flex: 1 1 100%;
}

.esds-site-page-shell__header-inner {
  background-color: $esds-color-background-light-secondary;
}

.esds-site-deck__body {
  @include esds-font-size("body-l");
  margin: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.esds-site-page-shell--fixed-header {
  .esds-site-page-shell__header-inner {
    position: fixed;
    width: calc(100vw - #{$esds-site-nav-width});
    z-index: 100;
  }

  .esds-site-deck {
    height: 90px;
  }

  .esds-site-deck__body {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .esds-site-deck__title {
    @include esds-heading-level-4;
  }
}

.esds-site-page-shell__header-content {
  @include esds-site-content-max-width;
}

.esds-site-page-shell__body-inner {
  @include esds-site-content-max-width;
}

.esds-site-page-shell__logo {
  fill: white;
}

// DECK
.esds-site-deck {
  @include esds-box-sizing;
  align-items: center;
  display: flex;
  height: 315px;
  padding-bottom: 44px;
  transition: height 0.5s;
}

.esds-site-deck__title {
  @include esds-heading-level-1;
  margin: 0;
  transition: font-size 0.5s;
}

.esds-site-deck__content {
  transform: translateY(44px);
  transition: transform $esds-fixed-header-transition-timing;

  .esds-site-page-shell--fixed-header & {
    transform: translateY(0);
  }
}
