@use '@eightshapes/esds-visual-style/src/esds-visual-style' as *;
@use 'shared' as *;
@use '../site-components/page-shell/page-shell' as *;
@use 'local-nav-layout';

html,
body {
  margin: 0;
  padding: 0;
}

// DECK
.esds-site-deck {
  @include esds-box-sizing;
  align-items: center;
  display: flex;
  // min-height: 315px;
  // padding-bottom: 44px;
  transition: height 0.5s;
}

.esds-site-deck__content {
  transform: translateY(0);
  transition: transform $esds-fixed-header-transition-timing;

  .esds-site-page-shell--fixed-header & {
    transform: translateY(0);
  }

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    transform: translateY(44px);
    width: calc(100vw - #{$esds-site-nav-width});
  }
}

.esds-example-code-pair {
  margin-top: $esds-space-stack-2-x;
  max-width: 854px;
  width: 100%;
}
