@use '@eightshapes/esds-visual-style/src/esds-visual-style' as *;
@use 'shared' as *;
@use 'component-layout';

$esds-site-nav-width: 250px;
$esds-site-nav-on-canvas-at: 1086px;

html,
body {
  margin: 0;
  padding: 0;
}

.esds-site-page-shell {
  @include esds-box-sizing;
  font-family: $esds-font-family-sans-serif;
  min-height: 100vh;

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    display: flex;
  }
}

// SITE NAV
.esds-site-page-shell__nav {
  background-color: $esds-color-background-dark-primary;
  color: white;
  left: 0;
  position: fixed;
  top: 0;
  // flex: 0 0 $esds-site-nav-width;
  transform: translateX(-$esds-site-nav-width);
  width: $esds-site-nav-width;
  z-index: 100;

  .esds-site-page-shell--visible-nav & {
    transform: translateX(0);
  }

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    flex: 0 0 $esds-site-nav-width;
    position: static;
    transform: translateX(0);
  }
}

.esds-site-page-shell__nav-toggle {
  left: 100%;
  position: absolute;
  top: 0;

  @media screen and (min-width: $esds-site-nav-on-canvas-at) {
    display: none;
  }
}

.esds-site-page-shell__nav-inner {
  height: 100vh;
  overflow-y: scroll;
  // position: fixed;
  width: $esds-site-nav-width;

  .esds-list-group__header,
  .esds-list-item .esds-list-item__link {
    padding-left: $esds-space-generic-three-quarter-x;
    padding-right: $esds-space-generic-half-x;
  }

  .esds-list-item--selected .esds-list-item__link {
    background: $esds-color-background-dark-secondary;
    position: relative;

    &::before {
      background: $esds-color-navigation-selected-on-dark;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }
  }
}

// PAGE CONTENT
.esds-site-page-shell__content {
  flex: 1 1 100%;
}

.esds-site-page-shell__header {
  background-color: $esds-color-background-light-secondary;
}

.esds-site-page-shell__header-inner {
  @include esds-site-content-max-width;
}

.esds-site-page-shell__body-inner {
  @include esds-site-content-max-width;
}

.esds-site-page-shell__logo {
  fill: white;
}

// DECK
.esds-site-deck {
  align-items: center;
  display: flex;
  height: 315px;
}

.esds-site-deck__title {
  margin: 0;
}
