---
title: EightShapes Design System
---

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="{{ meta_keywords | default(global.meta_keywords) }}">
        <meta name="description" content="{{ meta_description | default(global.meta_description) }}">
        <meta name="HandheldFriendly" content="True">
        <meta name="format-detection" content="telephone=no">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">
        {% block head_elements %}
        {% endblock %}
    </head>
    <body class="{{ body_classes }}">
      <esds-site-page-shell {% if title %}title="{{ title }}"{% endif %} {% if deck %}deck="{{ deck }}"{% endif %}>
        <div class="esds-site-page-shell__nav-content esds-container--dark-primary" slot="nav">
          <h1 class="esds-site-page-shell__logo">
            {% include '../svg/eightshapes-logo.svg' %}
          </h1>
          <div class="esds-site-page-shell__nav-scroll-wrapper">
            <esds-list-group>
              <esds-list-item href="/" {% if page.url == post.url %}selected{% endif %}>Home</esds-list-item>
              <esds-list-group header="UI Components" collapsible>
                {%- for post in collections['Component Page'] -%}
                  <esds-list-item href="{{ post.url }}" {% if page.url == post.url %}selected{% endif %}>{{ post.data.title }}</esds-list-item>
                {%- endfor -%}
              </esds-list-group>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
              <esds-list-item href="#">Testing</esds-list-item>
            </esds-list-group>
          </div>
        </div>
        {{ content | safe }}
      </esds-site-page-shell>
      <script src="/scripts/main.js"></script>
    </body>
</html>
