---
title: EightShapes Design System
---

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="{{ meta_keywords | default(global.meta_keywords) }}">
        <meta name="description" content="{{ meta_description | default(global.meta_description) }}">
        <meta name="HandheldFriendly" content="True">
        <meta name="format-detection" content="telephone=no">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,600" rel="stylesheet">
        <link rel="stylesheet" href="/styles/esds-example-code-pair.css">
        <link rel="stylesheet" href="/styles/esds-rendered-example.css">
        <link rel="stylesheet" href="/styles/main.css">
        {% block head_elements %}
        {% endblock %}
    </head>
    <body class="{{ body_classes }}">
      <div class="esds-site-page-shell">
        <div class="esds-site-page-shell__nav">
          <h1 class="esds-site-page-shell__logo">
            {% include "../svg/eightshapes-logo.svg" %}
          </h1>
        </div>
        <div class="esds-site-page-shell__content">
          {% if deck %}
            <div class="esds-site-page-shell__header">
              <div class="esds-site-page-shell__header-inner">
                <div class="esds-site-deck">
                  <div class="esds-site-deck__content">
                    <h1 class="esds-site-deck__title">{{ title }}</h1>
                    <p class="esds-site-deck__body">
                      {{ deck }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="esds-site-page-shell__body">
            <div class="esds-site-page-shell__body-inner">
              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
      <script src="/scripts/main.js"></script>
    </body>
</html>
