---
layout: base.njk
---

<div>
  <h2>Component Tabs Here</h2>
  <div class="main-tab" style="border: solid 1px red;">
    <h3>Main Tab</h3>

  </div>
  <div class="code-tab" style="border: solid 2px blue;">
    <h3>Code Tab</h3>
    {% block code_tab %}
    {% endblock %}
  </div>
</div>
