---
layout: 'base.njk'
---
{# Component Header #}
<div class="component-header">
  <h1>{{ title }}</h1>
  <div class="deck">
    {{ deck }}
    {{ content | safe }}
  </div>
</div>

{% for tab in collections[tabsTag] %}
  <h3>{{ tab.data.title }}</h3>
  <div class="tab-content">
    {{ tab.templateContent | safe }}
    {{ tab.fileSlug }}
  </div>
{% endfor %}
