---
layout: 'base.njk'
---
<div class="esds-site-component-layout-body">
  <div class="esds-site-component-layout-body__content">
    {% for tab in collections[tabsTag] %}
      <h3>{{ tab.data.title }}</h3>
      <div class="tab-content">
        {{ tab.templateContent | safe }}
        {{ tab.fileSlug }}
      </div>
    {% endfor %}
  </div>
  <div class="esds-site-component-layout-body__local-nav">
    <h3>LOCAL NAV</h3>
  </div>
</div>
